<div class="large-container center-block">
<h1>todos los Articulos </h1>
   <%= render partial: @articles %>
     <br>
     <%= link_to  "imprime pdf", articles_path(format: "pdf" ), class: "btn btn-small btn-success"%>

     <%= link_to  "imprime csv", articles_path(format: "csv"),class: "btn btn-small btn-success"%>
    
</div>